/* Grid */
.grid { display: grid; }

.logo { grid-area: logo; }

.content { grid-area: content; }

.sidenav {
	grid-area: sidenav;
    margin-top: 100px;  
}

.grid-template-areas-2 {
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 180px 60px 150px;
	grid-template-areas:
		"sidenav logo nav"
		"sidenav content advert"
		"sidenav content footer"
		;
}

/* Grid Item */
.item {
	margin: 5px;
	background: rgb(23, 50, 82);
	text-align: center;
	font-size: 1.5em;
    color: #fff;
    margin: 20px 20px 20px 20px;

}

.grid {
	max-width: 100%;
	margin: 0 auto;
	
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}





